@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --padding-size: calc(100% / 23);
  --animate-duration: 400ms;
  --animate-delay: 0.2s;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  box-sizing: border-box;
  /* outline: auto; */
}

.prices-background {
  height: 100svh;
  background-image: url(images/upscale2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  box-shadow: 0px 0px 200px 5px rgba(0, 0, 0, 0.798) inset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prices-background-header {
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 5svw;
  font-weight: 600;
  margin-inline: auto;
  text-align: center;
  padding-bottom: 4%;
}

:root {
  --padding-size: calc(100% / 23);
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

header {
  font-family: "Montserrat Alternates", sans-serif;
  padding-inline: var(--padding-size);
  /* max-width: 1920px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  padding-block: 30px;
  z-index: 1;
  width: 100%;
}

.header-left {
  font-size: 64px;
  align-items: center;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  gap: 2.6vw;
}

.header-left img {
  width: 5.3svw;
}

.header-left__logo {
  display: block;
}

.header-right {
  font-size: 48px;
  display: flex;
}

.header-right__list {
  display: flex;
  gap: 5vw;
  align-items: center;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  transition: color var(--animate-duration) ease-in-out;
}

.current {
  position: relative;

  color: rgb(220, 0, 0);
  /* border-bottom: 4px solid white; */
}

.current a:hover {
  color: white;
}

.current:after {
  content: "";
  position: absolute;
  bottom: -4px; /* Adjust this value to match the border thickness */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.rooms__header {
  font-family: "Montserrat Alternates", sans-serif;
  padding-block: 66px;
  text-align: center;
  font-weight: 600;
  font-size: 4.5svw;
}

.card-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.upper-cards {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
}

.card {
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 30px;
  width: 45%;
  border: 1px solid black;
  /* height: 40em; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-header {
  font-size: 1.5em;
  font-weight: 600;
  padding: 20px 10px 0px 10px;
  text-align: center;
}

.card-image-container {
  width: 100%;
  /* height: 80%; */
  position: relative;
}

.card-image-container-1 {
  width: 100%;
  height: 80%;
  /* object-fit: cover; */
  background-size: cover;
  /* background-image: url(/images//house11.png); */
}

.card-image-container img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.image-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev-btn,
.next-btn {
  /* background-color: #fff; */
  border: none;
  padding: 10px 1em;
  font-size: 16px;
  cursor: pointer;
}

.prev-btn {
  /* padding: 0px; */
}
.prev-btn img,
.next-btn img {
  width: 60px;
  height: 60px;
}

.prev-btn:hover,
.next-btn:hover {
  color: #ccc;
}

.card-info {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px 20px 20px;
  width: 100%;
  right: 0;
  font-size: 1.4em;
}

.action-buttons {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 40px;
  position: absolute;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  z-index: 100;
}

.action-button.back-button {
  border-radius: 100px;
  border: 2px solid #fff;
  background-color: transparent;
}

.action-button.forward-button {
  border-radius: 100px;
  background-color: #fff;
}

.card-info-header {
  font-weight: 600;
}

.uslugi {
  font-family: "Montserrat Alternates", sans-serif;

  margin-top: 40px;
}

.uslugi h2 {
  font-weight: 600;
  text-align: center;
  margin-block: 50px;
  font-size: 4rem;
}

.dop-uslugi {
  padding-inline: var(--padding-size);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.dop-usluga {
  font-size: 26px;
  gap: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #1d454e;
  border-radius: 30px;
  width: 45%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.598);
  height: 14em;
}
.dop-usluga h3 {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #f2ffa5;
}

footer {
  padding-block: 20px;
  margin: 30px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: var(--padding-size);
  gap: 20px;
  font-size: 32px;
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 40px;
  font-weight: 500;
}

footer ul {
  text-align: right;
}

hr {
  border: none;
  border-top: 3px solid #696969;
  margin: 20px 0;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.footer-left.down {
  font-weight: 300;
}

.footer-wrapper.bottom {
  align-items: center;
}

.footer-right.down {
  /* right: 0; */
  /* display: flex; */
  position: relative;
}

footer a {
  color: black;
}

footer a:hover {
  color: #ff7015;
}

.footer-right.down a {
  /* position:; */
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 0px;
}

.rooms__header a {
  color: black;
}

@media (max-width: 1620px) {
  header {
    padding-block: 12px;
  }
  .header-left h1 {
    font-size: 42px;
  }
  .header-left {
    gap: 20px;
  }
  .header-right__list {
    font-size: 28px;
    gap: 40px;
  }
}

@media (max-width: 1280px) {
  footer {
    font-size: 27px;
  }
}

@media (max-width: 1027px) {
  .card-header {
    font-size: 1.2em;
  }
}

@media (max-width: 960px) {
  header {
    padding-block: 8px;
  }
  .header-left h1 {
    font-size: 36px;
  }
  .header-right__list {
    font-size: 24px;
    gap: 20px;
  }

  .upper-cards {
    justify-content: space-between;
    gap: 1em;
  }

  .card {
    width: 49%;
  }

  .image-controls {
    top: 90%;
  }
}

@media (max-width: 800px) {
  .header-left {
    gap: 10px;
  }

  .rooms__header {
    font-size: 7svw;
  }

  .wrapper-into-image h2 {
    font-size: 10vw;
  }

  .header-left h1 {
    font-size: 26px;
  }
  .header-right__list {
    font-size: 20px;
    gap: 10px;
  }

  .dop-uslugi {
    flex-direction: column;
    align-items: center;
  }
  .dop-usluga {
    width: 70%;
  }

  .upper-cards {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .card {
    width: 80%;
  }

  .uslugi h2 {
    font-size: 2.5rem;
  }

  .dop-usluga {
    font-size: 1.4rem;
    height: 18em;
  }
  /* .image-controls {
    position: relative;
    top: 50px;
  } */
}

@media (max-width: 580px) {
  header {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .rooms__header {
    padding-block: 40px;
    font-size: 11svw;
  }

  .header-right__list {
    font-size: 20px;
  }

  .button {
    padding: 20px 16px;
    font-size: 20px;
  }

  .prices-background-header {
    font-size: 10svw;
  }

  .action-button img {
    width: 33px;
    height: 16.5px;
  }
  .action-button {
    width: 60px;
    height: 60px;
  }

  .dop-usluga {
    font-size: 1.4rem;
    height: 22em;
  }

  .uslugi h2 {
    font-size: 25px;
  }
}

@media (max-width: 410px) {
  .dop-usluga {
    width: 90%;
    font-size: 1.4rem;
    height: 16em;
  }

  .uslugi h2 {
    font-size: 22px;
  }

  .dop-uslugi {
    gap: 32px;
  }
}
@media (max-width: 410px) {
  .dop-usluga {
    width: 90%;
    font-size: 1.2rem;
    height: 18em;
  }
  .card-info {
    font-size: 1.2rem;
  }

  .image-controls {
    /* flex-direction: column;
    align-items: center; */
  }
}

@media (max-width: 1367px) {
  .header-left img {
    width: 4svw;
  }

  .second-header {
  }

  .header-left {
    font-size: 36px;
    gap: 10px;
  }
  .header-right__list {
    gap: 20px;
    font-size: 30px;
  }
}

@media (max-width: 960px) {
  .header-left {
    font-size: 28px;
    gap: 10px;
  }
  .header-right__list {
    gap: 20px;
    font-size: 20px;
  }
  .current:after {
    height: 1px;
  }
}

@media (max-width: 800px) {
  footer {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 580px) {
  footer {
    font-size: 14px;
    gap: 1px;
  }

  .footer-right.down a img {
    height: 50%;
    width: 50%;
  }
}

@media (max-width: 481px) {
  footer {
    margin: 30px 10px;
    border-radius: 20px;
  }
}

@media (max-width: 331px) {
  .header-right__list-element {
    font-size: 18px;
  }

  .header-right__list {
    gap: 8px;
  }
}

@media (min-width: 2000px) {
  .header-right {
    font-size: 56px;
  }
}
